html {
    font-size: 18px;
}

a {
    color: inherit;
}

::-moz-selection {
    /* Code for Firefox */
    color: #F3F4F5;
    background: #3E4943;
}

::selection {
    color: #F3F4F5;
    background: #3E4943;
}

.radio__button input[type="radio"]:checked~.radio__label {
    background-color: #f3f4f5;
    color: #252525;
}

.radio__button:hover .radio__label {
    background-color: #f3f4f5;
    color: #252525;
    transform: scale(1.1);
}

.radio__button:active .radio__label {
    background-color: #f3f4f5;
    color: #252525;
    transform: scale(0.9);
}

.load,
.load *,
.image__link--wrapper,
.image__link--wrapper *,
.no-action {
    pointer-events: none;
}

.study__services--item:not(:last-child) p:after {
    content: ', ';
}

.loading {
    display: block
}

.sf-logo-u-animation {
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forward;
}

/* Study Case */
.study__content {
  margin: 0 40px;
}

.study__content figure[class$="-fullwidth"],
.study__content figure[class*="-fullwidth "] {
  margin: 60px -40px !important;
  width: calc(100% + 80px) !important;
}

@media screen and (min-width: 768px) {
  .study__content {
  	margin: 0 calc(10% + 40px);
  }
}

@media screen and (min-width: 992px) {
  .study__content {
  	margin: 0 calc(20% + 40px);
  }
}