html {
    font-size: 100%;
}

.btn-fill {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.btn-fill:hover .fill-container {
    transform: translateY(-50%) rotate(0);
}

.btn-fill:hover .fill-container .fill-container__after {
    transform: translateY(0);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

@keyframes scroll-fast {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.scroll {
    animation: scroll 50s linear infinite;
}

.scroll-fast {
    animation: scroll-fast 5s linear infinite;
}

@media only screen and (max-width: 991px) {
    .hero {
        min-height: calc(100vh - 90px);
    }
}

@media only screen and (max-width: 1919px) and (min-width: 480px) {
    h1 {
        font-size: calc(2.89vw + 2.187rem);
    }

    h2 {
        font-size: calc(1.73vw + 1.923rem);
    }

    h3 {
        font-size: calc(0.971vw + 1.662rem);
    }

    h4 {
        font-size: calc(0.484vw + 1.418rem);
    }

    .title__page .sticky__title {
        font-size: calc(5.104vw + 1.472rem);
    }

    .title__section {
        font-size: calc(2.292vw + 2.314rem);
    }

    .title__large {
        font-size: calc(1.118vw + 2.034rem);
    }

    .title__small {
        font-size: calc(0.526vw + 1.62rem);
    }

    .title__xsmall {
        font-size: calc(0.186vw + 1.277rem);
    }

    .large {
        font-size: calc(0.33vw + 1.167rem);
    }
}

a {
    color: inherit;
}

::-moz-selection {
    /* Code for Firefox */
    color: #F3F4F5;
    background: #3E4943;
}

::selection {
    color: #F3F4F5;
    background: #3E4943;
}

.radio__button input[type="radio"]:checked~.radio__label {
    background-color: #f3f4f5;
    color: #252525;
}

.radio__button:hover .radio__label {
    background-color: #f3f4f5;
    color: #252525;
    transform: scale(1.1);
}

.radio__button:active .radio__label {
    background-color: #f3f4f5;
    color: #252525;
    transform: scale(0.9);
}

.load,
.load *,
.image__link--wrapper,
.image__link--wrapper *,
.no-action {
    pointer-events: none;
}

.study__services--item:not(:last-child) p:after {
    content: ', ';
}

.loading {
    display: block
}

.sf-logo-u-animation {
    animation-duration: 2000ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-fill-mode: forward;
}

/* Study Case */
.study__content {
    margin: 0 40px;
}

.study__content figure[class$="-fullwidth"],
.study__content figure[class*="-fullwidth "] {
    margin: 60px -40px !important;
    width: calc(100% + 80px) !important;
    max-width: calc(100% + 80px) !important;
}

@media screen and (min-width: 768px) {
    .study__content {
        margin: 0 calc(10% + 40px);
    }
}

@media screen and (min-width: 992px) {
    .study__content {
        margin: 0 calc(20% + 40px);
    }
}